@import '~src/scss/variables';

.app-container {
  display: inline-block;
  width: 86px;

  .table-cell-datapicker-input {
    border: 0;
    background: transparent;
    color: var(--colorFontThead);
    width: 61px;
    font-size: 10px;

    &::placeholder {
      color: var(--colorFontThead);
    }
  }

  .clear-input {
    cursor: pointer;
    color: var(--colorFontThead);
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px !important;

    &:hover {
      color: var(--colorAccent);
      outline: 1px solid var(--colorAccent);
    }
  }
}
