<div class="input-group app-container">
    <div class="d-flex align-items-center {{class}}">
      <input class="table-cell-datapicker-input {{class}}"
            ngbDatepicker
            name="d1"
            readonly
            #datepicker="ngbDatepicker"
            placeholder="{{title | translate}}"
            [placement]="placement"
            [(ngModel)]="model"
            (dateSelect)="select()"
            (click)="openDatepicker(datepicker)"
      >
      <!-- [placement]="placement" -->

      <span *ngIf="model" class="clear-input" (click)="clear()" title="{{ 'dashboard.clear' | translate }}">&times;</span>
    </div>
  </div>
