@import '~src/scss/variables';

$size-icon-direction-width: 7px;
$size-icon-direction-height: 20px;

$size-icon-date: 13px;

%datepicker-arrow {
  cursor: pointer;
  width: $size-icon-direction-width;
  height: $size-icon-direction-height;
  display: inline-block;
  margin: 0 3px;
}

polygon, path {
  fill: var(--colorTheadControll);
}

.cnt {
  margin-top: 21px;

  .table-cell-datepicker-icon {
    width: $size-icon-date;
    height: $size-icon-date;
    display: inline-block;
    margin-top: -8px;

    &.selected {
      //background: url("/assets/images/ic_filter_date_main.svg") no-repeat 100% center;
      //background-size: cover;
      path {
        fill: var(--colorFontTheadAccent)
      }
    }
  }

  .table-cell-datepicker-label {
    font-size: $font-size-table-header;
    font-weight: normal;
    color: var(--colorFontThead);
  }

  .table-cell-datepicker-arrow-to {
    @extend %datepicker-arrow;

    &:hover {
      polygon {
        fill: var(--colorFontTheadAccent);
      }
    }
  }

  .table-cell-datepicker-arrow-from {
    @extend %datepicker-arrow;

    &:hover {
      polygon {
        fill: var(--colorFontTheadAccent);
      }
    }
  }

  .table-cell-datepicker-divider {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-weight: normal;
    color: var(--colorTheadControll);
  }


}
