
<div #cnt class="d-flex flex-column cnt">
  <div class="d-flex align-items-center">

    <ng-container *ngIf="sortable">
      <lib-pagination-base-thead-cell-sorting
        [title]="title"
        [key]="key"
        [direction]="direction"
        (clickChangeDirection)="onChangeDirection($event)"
      ></lib-pagination-base-thead-cell-sorting>
    </ng-container>

    <div class="table-cell-datepicker-label align-self-center ">
      {{title | translate }}
    </div>

    <div class="table-cell-datepicker-arrow-from align-self-center datapicker-ctrl-open"
         (click)="$event.stopPropagation(); $event.preventDefault(); d1.open()">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="7px"
           height="20px" viewBox="0 0 10 20" enable-background="new 0 0 10 20" xml:space="preserve">
           <g id="Shape_12_copy_2_1_" enable-background="new    ">
              <g id="Shape_12_copy_2">
                <g>
                  <polygon fill="#9098A9" points="10,3.521 9.916,0 0,9.976 1.823,10 0,10.023 9.916,20 10,16.479 3.162,10 			"/>
                </g>
              </g>
            </g>
      </svg>
    </div>
    <div class="table-cell-datepicker-icon align-self-center" [class.selected]="value.to || value.from">

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="100%"
           height="100%" viewBox="0 0 6.72 7.2" enable-background="new 0 0 6.72 7.2" xml:space="preserve">
           <g id="CALENDAR_1_" enable-background="new    ">
              <g id="CALENDAR">
                <g>
                  <path fill="#8E97A8" d="M6.029,0.824H5.495V0.49c0-0.184-0.149-0.333-0.334-0.333c-0.184,0-0.333,0.149-0.333,0.333v0.334H4.293
                    V0.49c0-0.184-0.149-0.333-0.334-0.333c-0.184,0-0.333,0.149-0.333,0.333v0.334H3.092V0.49c0-0.184-0.149-0.333-0.333-0.333
                    S2.425,0.306,2.425,0.49v0.334H1.891V0.49c0-0.184-0.149-0.333-0.333-0.333S1.224,0.306,1.224,0.49v0.334H0.69
                    c-0.295,0-0.534,0.239-0.534,0.534v5.152c0,0.295,0.239,0.534,0.534,0.534h5.339c0.295,0,0.534-0.239,0.534-0.534V1.357
                    C6.563,1.063,6.324,0.824,6.029,0.824z M5.895,3.2c0,0.163-0.131,0.293-0.293,0.293H1.117c-0.163,0-0.293-0.131-0.293-0.293
                    V1.785c0-0.163,0.13-0.293,0.293-0.293h0.106v0.467c0,0.184,0.15,0.334,0.334,0.334s0.333-0.15,0.333-0.334V1.491h0.534v0.467
                    c0,0.184,0.15,0.334,0.334,0.334s0.333-0.15,0.333-0.334V1.491h0.534v0.467c0,0.184,0.149,0.334,0.333,0.334
                    c0.185,0,0.334-0.15,0.334-0.334V1.491h0.534v0.467c0,0.184,0.149,0.334,0.333,0.334c0.185,0,0.334-0.15,0.334-0.334V1.491h0.107
                    c0.162,0,0.293,0.131,0.293,0.293V3.2z"/>
                </g>
              </g>
            </g>
            </svg>

    </div>
    <div class="table-cell-datepicker-arrow-to align-self-center datapicker-ctrl-open"
         (click)="$event.stopPropagation(); $event.preventDefault(); d2.open()">

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="7px"
           height="20px" viewBox="0 0 10 20" enable-background="new 0 0 10 20" xml:space="preserve">

<g id="Shape_12_copy_3_1_" enable-background="new    ">
	<g id="Shape_12_copy_3">
		<g>
			<polygon fill="#9098A9" points="10,9.976 0.084,0 0,3.521 6.838,10 0,16.479 0.084,20 10,10.023 8.178,10 			"/>
		</g>
	</g>
</g>
</svg>


    </div>

  </div>

  <div class="d-flex align-items-center  ">

    <div>

      <lib-datepicker-i18n
        #d1
        [action]="'df'"
        [title]="'dashboard.from'"
        [placement]="placement"
        [model]="value.from"
        (dateChange)="select($event)"
        [class]="'justify-content-end text-right'"
      ></lib-datepicker-i18n>
    </div>
    <div class="table-cell-datepicker-divider">|</div>
    <div>
      <lib-datepicker-i18n
        #d2
        [action]="'dt'"
        [title]="'dashboard.to'"
        [model]="value.to"
        [placement]="placement"
        (dateChange)="select($event)"
        [class]="''"
      ></lib-datepicker-i18n>
    </div>

  </div>

</div>

<h2>EVENT_VALUE</h2>
  <pre>
    {{ debugEventValue() | json}}
  </pre>

